
@import url(font.css);

 
 

body{
    background: #f5f5f5;
	font-size: 12px;
	overflow: hidden;
    font-family: helvetica;
}


header{


    width: 100%;
    height: 60px;
    background: #0093D5;

}


.menu_lef {
  background: none repeat scroll 0 0 #252D2F;
    color: white;
    float: left;
    height: 100%;
    width: 15%;
}


.span {
    border-bottom: 1px solid #DDDDDD;
    color: black;
    font-size: 22px;
    padding: 16px 20px;
}


.content {
background: none repeat scroll 0 0 white;
    box-shadow: -5px 1px 7px #222222;
    float: left;
    height: 100%;
    width: 85%;
}

header{
    color: white;
    text-shadow:1px 1px rgba(0,0,0,.3);
}

header ul li{

    float: left;
    padding:22px 30px;
}

header ul {
 
    float: none;
    margin: 0;
}
span.logo {
    float: left;
    font-size: 17px;
    padding: 19px 37px;
}


header ul li.active{

    background: #25AEEB;
}


.button{
    border-radius: 3px;
}

.button:active{

 
     box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.6) inset !important;

}

.button:hover{

    cursor: pointer !important;
   


}



.button.gray{

   
  background: linear-gradient(#F1F2F3 0%, #DBDBEA 100%) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #222222;
    display: inline-block;
    font-family: 'helvetica';
    padding: 16px 60px;
    text-shadow: 0 -1px #FFFFFF;

}


.button.blue{

  background: linear-gradient(#0683CB 0%, #06468D 100%) repeat scroll 0 0 transparent;
    border: 1px solid #09376A;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    display: inline;
    font-family: 'helvetica';
    padding: 16px 60px;
    text-shadow: 0 -1px #10599D;
}

 
.content_bits .bits_entree{
    box-shadow: 6px 7px rgba(0, 0, 0, 0.3) inset;
    color: #999999;
    display: inline-block;
    font-size: 24px;
    height: 52px;
    padding-left: 11px;
    width: 498px;
}

.bits_entree:focus{
 
    color: #111;
}


.content_bits {
    float: left;
    height: 104px;
    margin-top: 100px;
    text-align: center;
    width: 100%;
}


.text_new {
    color: #A8A8B7;
    font-family: "osanslight";
    font-size: 34px;
    padding: 44px;
}

.span{
     font-family: "osanslight";
}

.alert{
        color: #DC4C39;
    font-size: 18px;
 
}

.message_text{
    content: " ";
    display: inline-block;
}


a{
    color: #2B26D6;
    cursor: pointer;
    text-decoration: underline;
}


a:hover{

text-decoration: underline;
}

#content_buttons{
       
    height: auto;
    overflow-y: auto;
    padding-top: 25px;
    text-align: center;

}


#graph{
    width:100%;height:300px;
    top: -96px;
    display: none;
}

.bits_data {
  font-size: 18px;
    opacity: 5;
    margin-top: -68px;
    padding-left: 30px;
    position: absolute;
}