extends base

block title

	| Inicio - Modulacion de Señal

block content
 
	.menu_lef 
		ul
			li Mi Señal
		

	.content 

		.span.settings  Configuracion (Esta configuracion corresponde al Bit principal) {% include "settings.jade" %}

		.span.compare   {% include "comparation.jade" %}


		.content_bits

			.message_text 

			#graph
			.bits_data  

			.text_new.counter_bits Ingresa 2 bytes

			input(type='text',maxlength='16' ,placeholder='Ingresa los bits').bits_entree

			#content_buttons

				.button.blue.modular Modular

				.button.gray.borrar Borrar



