extends base

block title

	| Inicio - Modulacion de Señal

block content

	.menu_lef 
		ul
			li Señal
			li Mi Historial
		

	.content 

		.span Nuevo



		.content_bits

			.message_text 

			#graph
			.bits_data  

			.text_new Ingresa 2 bytes

			input(type='text', placeholder='Ingresa los bits').bits_entree

			#content_buttons

				.button.blue.modular Modular

				.button.gray.borrar Borrar