doctype 5	
html(lang='es')
	head
		title 
			block title 

		meta( name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(charset='utf-8')
		link(rel='stylesheet', href='{{ MEDIA_URL }}css/normalize.css')
		link(rel='stylesheet', href='{{ MEDIA_URL }}css/style.css')
		// libs

		script( data-main='/media/js/core/main' , src='/media/js/lib/requirejs.js' )
 
		script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')

		script(src='{{ MEDIA_URL }}js/lib/jquery.flot.js')
		script(src='{{ MEDIA_URL }}js/lib/probability.js')

 

 

	body


		header 

			span.logo Modulador FSK
			ul
				li.active Inicio
				li Ayuda   

		block content



		#search_content  





