doctype 5	
html(lang='es')
	head
		title 
			block title 

		meta( name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(charset='utf-8')
		link(rel='stylesheet', href='{{ MEDIA_URL }}css/normalize.css')
		link(rel='stylesheet', href='{{ MEDIA_URL }}css/style.css')
		// libs

		script( data-main='/media/js/core/main' , src='/media/js/lib/require.js' )

  


	body



		header 

			span.logo Modulador FSK
			ul
				li.active Inicio
				li Ayuda   

		block content



		#search_content  





