doctype 5	
html(lang='es')
	head
		title 
			block title 

		meta( name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(charset='utf-8')
		link(rel='stylesheet', href='{{ MEDIA_URL }}css/normalize.css')
		link(rel='stylesheet', href='{{ MEDIA_URL }}css/style.css')
		// libs

		script(src='{{ MEDIA_URL }}js/lib/jq.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')

		script(src='{{ MEDIA_URL }}js/lib/jquery.flot.js')
		script(src='{{ MEDIA_URL }}js/lib/probability.js')


		script(src='{{ MEDIA_URL }}js/lib/underscore.js')
		script(src='{{ MEDIA_URL }}js/lib/backbone.js')

		//core

		script(src="{{ MEDIA_URL }}js/core/message.js")
		script(src="{{ MEDIA_URL }}js/core/EntradaBinaria.js")
		script(src="{{ MEDIA_URL }}js/core/app.js")

	body


		header 

			span.logo Modulador Signal
			ul
				li.active Inicio
				li Nuevo
				li Ayuda

		block content



		#search_content  





