.span_input
	ul
		li
			label Comparacion
		li	
			label Bits
			input(type='text',maxlength='16' ,placeholder="1011010001101010"  , value=""  , class="bits")
		li
			label Amplitud
			input(type='text',maxlength='2' ,placeholder="ms"  , value="20"    )
		li
			label Bit 1
			input(type='text',maxlength='1' ,placeholder="ms"  , value="1"   )
		li
			label Bit 0
			input(type='text',maxlength='1' ,placeholder="ms"  , value="3"   )
		li
			.button.blue Aceptar 
		li
			.button.gray Cancelar 