.span_input
	ul
		li
			label Comparacion
		li	
			label Bits
			input(type='text',maxlength='16' ,placeholder="1011010001101010"  , value=""  , class="bits_compare")
		li
			label Amplitud
			input(type='text',maxlength='2' ,placeholder="ms"  , value="20" , class="amplitud_compare"   )
		li
			label Bit 1
			input(type='text',maxlength='1' ,placeholder="ms"  , value="1"  , class="bit_0_compare" )
		li
			label Bit 0
			input(type='text',maxlength='1' ,placeholder="ms"  , value="3" , class="bit_1_compare"  )
		li
			.button.blue.compare_signal Aceptar 
		li
			.button.gray.delete_signal Cancelar 