ul
	li Amplitud 
		input(type='text',maxlength='4' ,placeholder="" , value="20" ,id="value_amplitud" )
	li Bit 0
		input(type='text',maxlength='1' ,placeholder="ms" , value="2"   ,id="value_bit_0" )
	li Bit 1
		input(type='text',maxlength='1' ,placeholder="ms"  , value="4"  ,id="value_bit_1" )